<mat-card>
    <mat-card-title>
        FAQ
    </mat-card-title>
    <mat-card-content>
        <ol>
            <li>
                <h3>What's this?</h3>
                <p>
                    Let's say this is a <b>"Data Processing Pipelines"</b>
                </p>
            </li>
            <li>
                <h3>What's Pipeline?</h3>
                <p>
                    The Pipeline is a list of "Processors" that Transforms Data.
                </p>
            </li>
            <li>
                <h3>What Data can it process?</h3>
                <p>
                    Data types are limited by processor.
                </p>
                <p>
                    Processor named <b>Resize</b> receives an <b>Image</b> and returns an <b>Image</b>
                </p>
                <p>Example of a Pipeline:</p>
                <ul>
                    <li>Upload an Image</li>
                    <li>Resize to 500x500</li>
                    <li>Grayscale it</li>
                </ul>
            </li>
            <li>
                <h3> How do I Try Pipeline?</h3>
                <p>
                    Pipelines organized to <b>Projects</b>
                </p>
                <p>
                    Navigate to "Projects", select any and then a choose a Pipeline.
                </p>
            </li>
            <li>
                <h3>Is there any API?</h3>
                <p>
                    Sure! The documentation is served by Backend.
                </p>
                <p>
                    <a mat-raised-button color="accent" href="{{ api_service.API_URL }}/docs/">
                        Check it here
                    </a>
                </p>
            </li>
        </ol>

        <mat-card-title>
            It's Opensourced:
        </mat-card-title>
        <ol>
            <li>
                <a href="https://github.com/firewut/data-transform-pipelines-ui">Frontend</a>
            </li>
            <li>
                <a href="https://github.com/firewut/data-transform-pipelines-api">Backend</a>
            </li>
        </ol>
    </mat-card-content>
</mat-card>