<mat-card *ngIf="pipeline">
    <mat-card-title>
        <textarea matInput class="full-width" cdkTextareaAutosize placeholder="Title" [(ngModel)]="pipeline.title"></textarea>
    </mat-card-title>
    <mat-card-content *ngIf="pipeline.description">
        <textarea matInput class="full-width" cdkTextareaAutosize placeholder="Description" [(ngModel)]="pipeline.description"></textarea>
    </mat-card-content>

    <mat-card-content *ngIf="pipeline.in_types">
        <p>
            <mat-chip-list class="mat-chip-list" *ngIf="pipeline.in_types">
                Input:
                <mat-chip *ngFor="let type of pipeline.in_types" selected color="warn">
                    {{ type }}
                </mat-chip>
            </mat-chip-list>

            <mat-chip-list class="mat-chip-list" *ngIf="pipeline.out_types">
                Output:
                <mat-chip *ngFor="let type of pipeline.out_types" selected color="warn">
                    {{ type }}
                </mat-chip>
            </mat-chip-list>
        </p>
    </mat-card-content>

    <mat-card-content>
        <mat-card-title>Processors</mat-card-title>
        <mat-card-content>
            <mat-accordion class="headers-align" multi="true">
                <div dragula="{{ pipeline.id }}" [(dragulaModel)]="pipeline.processors" (dragulaModelChange)="pipelineChanged(pipeline)">
                    <mat-expansion-panel *ngFor="let processor of pipeline.processors" [class.invalid_pipe_processor]="processor.errors.length > 0">
                        <div *ngIf="processor.errors">
                            <mat-error *ngFor="let error of processor.errors">{{ error | json }}</mat-error>
                        </div>

                        <mat-expansion-panel-header>
                            <mat-panel-title>{{ processor.id }}</mat-panel-title>
                        </mat-expansion-panel-header>

                        <mat-chip-list class="mat-chip-list">
                            Input:
                            <mat-chip *ngFor="let type of processor.template.schema.in_types" selected color="warn">
                                {{ type }}
                            </mat-chip>
                        </mat-chip-list>

                        <mat-chip-list class="mat-chip-list">
                            Output:
                            <mat-chip *ngFor="let type of processor.template.schema.out_types" selected color="warn">
                                {{ type }}
                            </mat-chip>
                        </mat-chip-list>

                        <p>
                            {{ processor.template.description }}
                        </p>

                        <div class="processor_form" *ngIf="processor.template.schema.in_config || processor.template.schema.out_config">
                            <div *ngIf="processor.template.schema.in_config">
                                <h4>Input Config</h4>
                                <json-schema-form loadExternalAssets="true" [schema]="processor.template.schema.in_config"
                                    [(data)]="processor.in_config" framework="material-design" [UISchema]="processor.template.ui_schema">
                                </json-schema-form>

                            </div>
                            <div *ngIf="processor.template.schema.out_config">
                                <h4>Output Config</h4>
                                <json-schema-form loadExternalAssets="true" [schema]="processor.template.schema.out_config"
                                    [(data)]="processor.out_config" framework="material-design">
                                </json-schema-form>
                            </div>
                        </div>

                        <mat-action-row>
                            <button mat-button (click)="pipelineAction('remove_processor', pipeline, undefined, processor)">
                                <mat-icon>delete_forever</mat-icon>
                                Delete
                            </button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </mat-card-content>
        <ng-select (change)="pipelineAction('add_processor', pipeline, $event)" placeholder="Add Processor">
            <ng-option *ngFor="let processor of processors" [value]="processor.id">{{ processor.id }}</ng-option>
        </ng-select>
    </mat-card-content>
    <mat-progress-bar *ngIf="pipeline.is_processing" mode="indeterminate"></mat-progress-bar>
    <mat-card-actions>
        <button mat-button [disabled]="!pipeline.should_be_saved" (click)="pipelineAction('save', pipeline)">
            <!-- <mat-icon>save</mat-icon> -->
            SAVE
        </button>
        <button mat-button (click)="pipelineAction('delete', pipeline)">
            <!-- <mat-icon>delete_forever</mat-icon> -->
            DELETE
        </button>
    </mat-card-actions>

    <mat-card>
        <mat-card-title>Try It</mat-card-title>
        <mat-card-content>
            <p *ngIf="!pipeline.starts_with_file">
                <mat-form-field class="full-width" appearance="outline" *ngIf="pipeline.requires_input">
                    <textarea matInput cdkTextareaAutosize placeholder="Enter Value" [(ngModel)]="data"></textarea>
                </mat-form-field>
                <button mat-button (click)="pipelineAction('process', pipeline)">
                    <mat-icon>send</mat-icon>
                    Send
                </button>
            </p>
            <p *ngIf="pipeline.starts_with_file">
                <input type="file" name="file" class="full-width" ng2FileSelect [uploader]="uploader" [(ngModel)]="data_file" />
                <button mat-button (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <mat-icon>send</mat-icon>
                    Upload
                </button>
            </p>
            <div *ngIf="pipeline.result">
                <pre><code highlight [code]="pipeline.result | json"></code></pre>
                <img mat-card-image [src]="pipeline.result.get_image()">
            </div>

        </mat-card-content>
    </mat-card>
</mat-card>