<mat-card *ngIf="pipeline">
    <mat-card-title>
        <textarea matInput class="full-width" cdkTextareaAutosize placeholder="Title" [(ngModel)]="pipeline.title"></textarea>
    </mat-card-title>
    <mat-card-content *ngIf="pipeline.description">
        <textarea matInput class="full-width" cdkTextareaAutosize placeholder="Description" [(ngModel)]="pipeline.description"></textarea>
    </mat-card-content>

    <mat-card-content>
        <mat-card-subtitle>Processors</mat-card-subtitle>
        <mat-card-content>
            <mat-accordion class="headers-align" multi="true">
                <div dragula="{{ pipeline.id }}" [(dragulaModel)]="pipeline.processors" (dragulaModelChange)="pipelineChanged(pipeline)">
                    <mat-expansion-panel *ngFor="let processor of pipeline.processors" [class.invalid_pipe_processor]="processor.errors.length > 0">
                        <div *ngIf="processor.errors">
                            <mat-error *ngFor="let error of processor.errors">{{ error | json }}</mat-error>
                        </div>

                        <mat-expansion-panel-header>
                            <mat-panel-title>{{ processor.id }}</mat-panel-title>
                        </mat-expansion-panel-header>

                        <p>{{ processor.template.description }}</p>
                        <div>
                            <div *ngIf="processor.template.schema.in_config">
                                <h4>Input Config</h4>
                                <json-schema-form loadExternalAssets="true" [schema]="processor.template.schema.in_config"
                                    [(data)]="processor.in_config" framework="material-design">
                                </json-schema-form>
                            </div>
                            <div *ngIf="processor.template.schema.out_config">
                                <h4>Output Config</h4>
                                <json-schema-form loadExternalAssets="true" [schema]="processor.template.schema.out_config"
                                    [(data)]="processor.out_config" framework="material-design">
                                </json-schema-form>
                            </div>
                        </div>

                        <mat-action-row>
                            <button mat-button (click)="pipelineAction('remove_processor', pipeline, undefined, processor)">
                                <mat-icon>delete_forever</mat-icon>
                                Delete
                            </button>
                        </mat-action-row>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </mat-card-content>
    </mat-card-content>

    <mat-card-content>
        <mat-card-subtitle>Pipeline Actions</mat-card-subtitle>
        <div>
            <ng-select (change)="pipelineAction('add_processor', pipeline, $event)" placeholder="Add Processor">
                <ng-option *ngFor="let processor of processors" [value]="processor.id">{{ processor.id }}</ng-option>
            </ng-select>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Try Pipeline</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p *ngIf="!pipeline.starts_with_file">
                        <mat-form-field class="full-width" appearance="outline">
                            <textarea matInput cdkTextareaAutosize placeholder="Enter Value" [(ngModel)]="data"
                                [disabled]="!pipeline.requires_input"></textarea>
                        </mat-form-field>
                        <button mat-button (click)="pipelineAction('process', pipeline)">
                            <mat-icon>send</mat-icon>
                            Send
                        </button>
                    </p>
                    <p *ngIf="pipeline.starts_with_file">
                        <input type="file" name="file" class="full-width" ng2FileSelect [uploader]="uploader"
                            [(ngModel)]="data_file" />
                        <button mat-button (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                            <mat-icon>send</mat-icon>
                            Upload
                        </button>
                    </p>
                    <p *ngIf="pipeline.result">
                        <textarea matInput cdkTextareaAutosize placeholder="Result" [value]="pipeline.result | json"
                            readonly></textarea>
                        <img mat-card-image [src]="pipeline.result.get_image()">
                    </p>
                </mat-card-content>
            </mat-card>

            <button mat-button [disabled]="!pipeline.should_be_saved" (click)="pipelineAction('save', pipeline)">
                <mat-icon>save</mat-icon>
                Save
            </button>
            <button mat-button (click)="pipelineAction('delete', pipeline)">
                <mat-icon>delete_forever</mat-icon>
                Delete
            </button>
        </div>
    </mat-card-content>
    <mat-progress-bar *ngIf="pipeline.is_processing" mode="indeterminate"></mat-progress-bar>
</mat-card>