<mat-card *ngIf="processor">
    <mat-card-title>{{ processor.name }}</mat-card-title>

    <p>
        {{ processor.description }}
    </p>

    <mat-card-content>
        <mat-card-subtitle>Input</mat-card-subtitle>
        <mat-chip-list>
            <mat-chip *ngFor="let type of processor.schema.in_types" selected color="warn">
                {{ type }}
            </mat-chip>
        </mat-chip-list>
    </mat-card-content>
    <mat-card-content>
        <mat-card-subtitle>Output</mat-card-subtitle>
        <mat-chip-list>
            <mat-chip *ngFor="let type of processor.schema.out_types" selected color="warn">
                {{ type }}
            </mat-chip>
        </mat-chip-list>
    </mat-card-content>

    <div class="processor_form" *ngIf="processor.schema.in_config || processor.schema.out_config">
        <div *ngIf="processor.schema.in_config">
            <h4>Input Config</h4>
            <json-schema-form loadExternalAssets="true" [schema]="processor.schema.in_config" [(data)]="processor.schema.in_config_example"
                framework="material-design" [UISchema]="processor.ui_schema">
            </json-schema-form>

        </div>
        <div *ngIf="processor.schema.out_config">
            <h4>Output Config</h4>
            <json-schema-form loadExternalAssets="true" [schema]="processor.schema.out_config" [(data)]="processor.out_config"
                framework="material-design">
            </json-schema-form>
        </div>
    </div>

    <p>
        <mat-divider [inset]="true"></mat-divider>
    </p>

    Complete Schema
    <pre><code highlight [code]="processor._raw_schema | json"></code></pre>

</mat-card>