<mat-card *ngIf="processor">
    <mat-card-title>{{ processor.name }}</mat-card-title>

    <mat-list>
        <mat-list-item>
            <mat-chip-list class="mat-chip-list">
                Input:
                <mat-chip *ngFor="let type of processor.schema.in_types" selected color="warn">
                    {{ type }}
                </mat-chip>
            </mat-chip-list>
        </mat-list-item>
        <mat-list-item>
            <mat-chip-list class="mat-chip-list">
                Output:
                <mat-chip *ngFor="let type of processor.schema.out_types" selected color="warn">
                    {{ type }}
                </mat-chip>
            </mat-chip-list>
        </mat-list-item>
    </mat-list>

    <p>
        {{ processor.description }}
    </p>

    <mat-card-content>
        <div *ngIf="processor._raw_schema">
            Complete Schema:
            <pre>{{ processor._raw_schema | json }}</pre>
        </div>
    </mat-card-content>
</mat-card>