<mat-card *ngIf="project">
    <mat-card-title>
        <textarea matInput class="full-width" cdkTextareaAutosize placeholder="Title" [(ngModel)]="project.title"></textarea>
    </mat-card-title>
    <mat-card-content *ngIf="project.description">
        <textarea matInput class="full-width" cdkTextareaAutosize placeholder="Description" [(ngModel)]="project.description"></textarea>
    </mat-card-content>
    <mat-card-subtitle>
        <button mat-raised-button color="primary" (click)="createPipelineDialog()">
            Create New
        </button>
    </mat-card-subtitle>

    <div class="mat-elevation-z8" *ngIf="project.pipelines">
        <table mat-table [dataSource]="project.pipelines">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Title</th>
                <td mat-cell *matCellDef="let pipeline"> {{ pipeline.title }} </td>
            </ng-container>
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let pipeline"> {{ pipeline.description }} </td>
            </ng-container>
            <ng-container matColumnDef="processors">
                <th mat-header-cell *matHeaderCellDef>Processors</th>
                <td mat-cell *matCellDef="let pipeline"> {{ pipeline.processors.length }} </td>
            </ng-container>
            <ng-container matColumnDef="mtime">
                <th mat-header-cell *matHeaderCellDef>Modified</th>
                <td mat-cell *matCellDef="let pipeline"> {{ pipeline.mtime | date:"short" }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row matRipple routerLink="/pipelines/{{ pipeline.id }}/" *matRowDef="let pipeline; columns: displayedColumns"></tr>
        </table>
    </div>
</mat-card>