<mat-card>
    <mat-card-title>
        Hello, wondering friend!
    </mat-card-title>

    <mat-card-subtitle>
        The place you've managed to get in is a <b>Processing Palace</b>
    </mat-card-subtitle>
    <mat-card-content>
        <p>
            It's Opensourced:
            <a href="https://github.com/firewut/data-transform-pipelines-ui">Frontend</a>
            <a href="https://github.com/firewut/data-transform-pipelines-api">Backend</a>
        </p>
        <p>
            Check <a routerLink="/projects">Projects</a> Tab, it contains Examples
        </p>
    </mat-card-content>
</mat-card>