<div *ngIf="googleAnalyticsUA">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsUA }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ googleAnalyticsUA }}');
  </script>
</div>

<mat-toolbar>
  <mat-toolbar-row>
    <a mat-raised-button routerLink="/projects" routerLinkActive="active">
      Projects
    </a>
    <a mat-raised-button routerLink="/processors" routerLinkActive="active">
      Processors
    </a>
    <a mat-raised-button routerLink="/about" routerLinkActive="active">
      About
    </a>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>