@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/dragula/dist/dragula.css";
@import "~@ng-select/ng-select/themes/material.theme.css";



html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: 'Roboto', sans-serif; 
}

table {
    width: 100%;
}

.container {
    padding: 15px;
}  

.mat-row:hover {
    background-color: #fff8dc;
}

.invalid_pipe_processor {
    background-color: rgb(253, 248, 176);
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

/* .mat-form-field-underline {
    display: none;
} */

.va-equal {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    flex-flow: row;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
